RewriteEngine on
RewriteCond $1 !^(index\.php|public|\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1

SetEnv HOSTNAME        'localhost'
SetEnv USERNAME         'root'
SetEnv PASSWORD         ''
SetEnv PORT             3307